<section class="advance-search" ng-controller="BedBathNoList">

	<div class="container box-banner">
		<div>
			<div class="col-lg-12">
				<h3 class="search-heading">
					<i class="fa fa-search"></i>Find Your Home
				</h3>
				<div class="col-lg-8 box-blue" ng-controller="CountryCntrl">
					<form id="searchForm" method="post" class="validateform"
						name="send-contact">
						<h6><input type="radio" ng-model="formData.purchaseType" value="1" name="purchaseType" checked>Sale 
	           			<input type="radio" ng-model="formData.purchaseType" value="2" name="purchaseType">Rent Out</h6>
						<div class="row col-lg-12">
							<div class="col-lg-4 field">
								<label>Property Type &nbsp;&nbsp; :</label>
								<div style="float:left;">
						        	<div
										multi-select 
					    				input-model="propertyTypes"
					    				button-label="label"         
					    				item-label="label" 
					    				tick-property="ticked" 
					    				helper-elements="filter reset"
					    				max-labels="1"
					    				max-Height = "200px;"
					    				default-label="--Select--"
					    				on-item-click="itemSelect( data )"
					    				output-model="formData.propertyTypes">
									</div> 
								</div>
							</div>
							<div class="col-lg-4 field">
								<label>City </label>
								<city-ctrl city-model-name="formData.city"
									locations="locations"></city-ctrl>
							</div>
							<div class="col-lg-4 field">
								<label>Location</label><br/>
								<div style="float:left;">
									<div 
	    								multi-select 
	    								input-model="formData.city.localities"
	    								button-label="label"         
	    								item-label="label" 
	    								tick-property="ticked" 
	    								helper-elements="filter reset"
	    								max-labels="1"
	    								max-Height = "200px;"
	    								default-label="Select"
	    								output-model="formData.locations">
	    							</div>
    							</div>
							</div>
						</div>

						<div class="col-lg-3 field">
							<div ng-hide="formData.purchaseType == '1' || formData.purchaseType == ''">
								<label>Min-Max Budget </label>
								 <div style="float:left;">
									<div 
	    								multi-select 
	    								input-model="rentBudgets"
	    								button-label="label"         
	    								item-label="label" 
	    								tick-property="selected" 
	    								helper-elements="filter reset"
	    								max-labels="1"
	    								max-Height = "200px;"
	    								default-label="Select"
	    								output-model="formData.budget"
	    								disable-property = "disabled">
	    							</div>
    							</div>
							</div>
							<div ng-show="formData.purchaseType=='1'">
								<label>Min-Max Budget </label>
								<div style="float:left;">
									<div 
	    								multi-select 
	    								input-model="saleBudgets"
	    								button-label="label"         
	    								item-label="label" 
	    								tick-property="selected" 
	    								helper-elements="filter reset"
	    								max-labels="1"
	    								max-Height = "200px;"
	    								default-label="Select"
	    								output-model="formData.budget"
	    								disable-property = "disabled">
	    							</div>
    							</div>
							</div>
							<div>
									<label> Min-Max Bedrooms</label>
									<div style="float:left;">
										<div 
		    								multi-select 
		    								input-model="roomNos"
		    								button-label="label"         
		    								item-label="label" 
		    								tick-property="selected" 
		    								helper-elements="filter reset"
		    								max-labels="1"
		    								max-Height = "200px;"
		    								default-label="Select"
		    								output-model="formData.bedroom"
		    								disable-property = "disabled">
		    							</div>
	    							</div>
								</div>
							</div>
							<div class="col-lg-12 margintop10 field"
								ng-controller="searchController">
								<p>
									<button class="btn btn-theme-orange margintop10 pull-left"
										type="submit" ng-click="openModal()">Advance search</button>
								</p>
								
								<p>
									<button class="btn btn-theme-orange margintop10 pull-right"
										type="submit" ng-click="search()">Find Properties</button>
								</p>
							</div>
					</form>
				</div>
				<div class="col-lg-4"></div>
			</div>
		</div>
	</div>


</section>