<script src="js/validation/validation_rules.js"></script> 
<!-- NAME -->
<div id="name-group" class="form-group" ng-class="{ 'has-error' : errorName }">
<label>User Name:</label>
<input type="text" name="userName" ng-model="formData.registrationInfo.userName" class="form-control" placeholder="username" ng-model="formData.username" required="true">
</div>

<div id="superhero-group" class="form-group" ng-class="{ 'has-error' : errorName }">
<label>Password:</label>
<input type="password" name="password" ng-model="formData.registrationInfo.password" class="form-control" placeholder="password" ng-model="formData.password" required="true">
</div>