<script>
  
  // When the browser is ready...
  $(function() {
  
    // Setup form validation on the #register-form element
    $("#loginForm").validate({
    
        // Specify the validation rules
        rules: {
        	userName: "required",
            password: {
                required: true,
                minlength: 5
            }
        },
        
        // Specify the validation error messages
        messages: {
        	userName: "Please enter your first name",
            password: {
                required: "Please provide a password",
                minlength: "Your password must be at least 5 characters long"
            }
        },
        
        submitHandler: function (form) {
        },
        invalidHandler: function (form) {
        }
    });

  });
  
  </script>
  
<section id="content">
<div class="container">
<div class="col-md-6 col-md-offset-3">

<!-- PAGE TITLE -->
<div class="page-header">
<h1><span class="glyphicon glyphicon-tower"></span>My First Sample</h1>
</div>

<!-- SHOW ERROR/SUCCESS MESSAGES -->
<div id="messages" class="well" ng-show="messages">{{ messages }}</div>
<div id="error-group" class="form-group" ng-class="{ 'has-error' : errorName }">
<span class="help-block" ng-show="errorName">{{ errorName }}</span>
</div>
<!-- FORM -->
<form id="loginForm" ng-submit="processForm()">
<!-- NAME -->
<div id="name-group" class="form-group" ng-class="{ 'has-error' : errorName }">
<label>User Name</label>
<input type="text" name="userName" class="form-control" placeholder="username" ng-model="formData.username">
</div>

<div id="superhero-group" class="form-group" ng-class="{ 'has-error' : errorName }">
<label>Password</label>
<input type="password" name="password" class="form-control" placeholder="password" ng-model="formData.password">
</div>

<!-- SUBMIT BUTTON -->
<button type="submit" class="btn btn-success btn-lg btn-block">
<span class="glyphicon glyphicon-flash"></span> Submit!
</button>
</form>

</div>
</div>
</section>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>