<div class="cBoxOut">
	<h2 class="text-center">Property Important Features</h2>

<!-- Residential Property Info -->
	<div class="cBox registrForm">	
		<ul>
        	<li class="all">* denotes mandatory fields</li>	  		
			<li>
				<h5>Property Features Info</h5>
			</li>
			
			<li ng-controller="BedBathNoList">
				<label>No. of Bedrooms<em>*</em> :</label>
				<bedroom-no-ctrl></bedroom-no-ctrl>
			</li>
			
			<li ng-controller="BedBathNoList">
				<label>No. of Bathrooms<em>*</em> :</label>
				<bathroom-no-ctrl></bathroom-no-ctrl>
			</li>
			
			<li ng-controller="BedBathNoList">
				<label>No. of Balconies<em>*</em> :</label>
				<balcony-no-ctrl></balcony-no-ctrl>
			</li>
			
			<li>
				<label>Furnished Status<em>*</em> :</label>
				<select id="furnished" ng-model="formData.propertyFeatureInfo.residentialPropInfo.furnishedStatus"
					ng-options="">
					<option value="-1">---Furnished Status---</option>
					<option value="Furnished">Furnished</option>
					<option value="Unfurnished">Unfurnished</option>
					<option value="Semi-Furnished">Semi-Furnished</option>
				</select>
			</li>
			
			<li ng-controller="FloorNoList">
				<label>Floor No<em>*</em> :</label>
				<floor-no-ctrl></floor-no-ctrl>
			</li>
			
			<li ng-controller="FloorNoList">
				<label>Total Floor<em>*</em> :</label>
				<total-floor-ctrl></total-floor-ctrl>
			</li>
			
			<li>
				<label>Possession Status<em>*</em> :</label>
				<input class="" type="radio" name="possessionStatus" ng-model="formData.propertyFeatureInfo.residentialPropInfo.possessionStatus" value="Under Construction" >Under Construction
            	<input class="" type="radio" name="possessionStatus" ng-model="formData.propertyFeatureInfo.residentialPropInfo.possessionStatus" value="Ready to Move" >Ready to Move
			</li>
			
			<li>
				<label>Available From<em>*</em> :</label>
				<select id="availableFrom" ng-model="formData.propertyFeatureInfo.residentialPropInfo.availableFrom"
					ng-options="">
					<option value=''>Select</option>
				</select>
			</li>
			
			<li>
			   	<label for="keyword">Brief Description <em>*</em> : <br>
			    	[ e.g. East-facing, fully furnished bungalow with 5 
			    	BHK and power back-up, located in premium locality, for immediate sale ]</label>
			    <textarea cols="30" rows="5" id="txtPropertyDescription" name="formData.propertyFeatureInfo.propertyMandateInfo.propertyDescription"></textarea>
			    <input value="300" style="BORDER-TOp-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 30px; BACKGROUND-COLOR: #fff; BORDER-RIGHT-WIDTH: 0px" size="4" readonly="readOnly" name="detailDescCounter" maxlength="4" id="detailDescCounter">characters left
		 	</li>
		 
		 	<li>
		   		<label>I want to deal with Agent<em style="color:Red">*</em> :</label>
		    	<input type="checkbox" value="Yes" name="formData.propertyFeatureInfo.propertyMandateInfo.dealingType">Yes
		 	</li>
			
			<li>
		   		<h3>Amenities </h3>
		  	</li>
		  	<li ng-controller="InHouseAmenityCtrl">
			   	<b>In House Amenities :</b>
			
				<div
					multi-select 
    				input-model="inHouseAmenities"
    				button-label="label"         
    				item-label="label" 
    				tick-property="ticked" 
    				helper-elements="filter reset"
    				max-labels="1"
    				max-Height = "200px;"
    				default-label="--InHouse Amenities--"
    				output-model="formData.propertyFeatureInfo.residentialPropInfo.inHouseAmenitie">
				</div>
			</li>
  			<li>
  				<b>External Amenities :</b>
   			</li>
	        <li ng-controller="ExtAmenityCtrl">
	        	<div
					multi-select 
    				input-model="extAmenities"
    				button-label="label"         
    				item-label="label" 
    				tick-property="ticked" 
    				helper-elements="filter reset"
    				max-labels="1"
    				max-Height = "200px;"
    				default-label="--External Amenities--"
    				output-model="formData.propertyFeatureInfo.residentialPropInfo.externalAmenitie">
				</div> 
  			</li>
  			
  			<li>
   				<h3>Property Snapshot </h3>
  			</li>
  			<li>
			   	<label for="keyword">Landmarks &amp; Neighbourhood : <br>
			    	[ We strongly recommend you to mention landmark(s) 
			    	near your property ] </label>
			    <textarea cols="50" rows="5" name="txtLandmarks" id="txtLandmarks"></textarea>
			    <input name="landmarksCounter" value="3000" size="4" maxlength="4" readonly="readOnly" style="BORDER-TOp-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 30px; BACKGROUND-COLOR: #fff; BORDER-RIGHT-WIDTH: 0px" id="landmarksCounter">
			    characters left
			</li>
			
		</ul>
          
<!-- Residential Info Ends -->

	</div>
</div>		
<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.postProperty" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>
