	<div class="form-group has-feedback">
		<input class="" type="radio" name="userType"
			ng-model="formData.userType" value="owner" checked="checked"/>&nbsp;Owner
		&nbsp;&nbsp;&nbsp; <input class="" type="radio" name="userType"
			ng-model="formData.userType" value="agent" />&nbsp;Agent
		&nbsp;&nbsp;&nbsp; <input class="" type="radio" name="userType"
			ng-model="formData.userType" value="builder" id="userType"/>&nbsp;Buider 
	</div>

	<div class="form-group has-feedback">
		<input class="form-control input-lg" type="text" name="displayName"
			ng-model="formData.displayName" placeholder="Name" id="displayName"/>
	</div>

	<div class="form-group has-feedback">
		<input unique-email class="form-control input-lg" type="email"
			name="email" ng-model="formData.email" placeholder="Email"
			 autofocus id="email"/> 
	</div>

	<div class="form-group has-feedback">
		<input password-strength class="form-control input-lg" type="password"
			name="password" ng-model="formData.password" placeholder="Password" id="password"/>
	</div>

	<div class="form-group has-feedback" 
		ng-controller="CountryCntrl">
		<select class="form-control input-lg" placeholder="city"
			ng-model="formData.propCity"
			ng-options="city.cityName group by city.stateName for city in locations" 
			id="city" name="city">
			<option value=''></option>
		</select> 
	</div>

	<div class="form-group has-feedback">
		<input class="form-control input-lg" type="text" name="mobileNo"
			ng-model="formData.mobileNo" placeholder="Mobile No" id="mobileNo" maxlength="10"/>
	</div>
	<div class="form-group has-feedback">
            <input class="form-control input-lg" type="text" name="landLineNo" 
            ng-model="formData.landLineNo" placeholder="Landline No" id="landLineNo">
     </div>