	<div class="form-group has-feedback">
		<input class="" type="radio" name="userType"
			ng-model="formData.registrationInfo.userType" value="owner" checked="checked"/>&nbsp;Owner
		&nbsp;&nbsp;&nbsp; <input class="" type="radio" name="userType"
			ng-model="formData.registrationInfo.userType" value="agent" />&nbsp;Agent
		&nbsp;&nbsp;&nbsp; <input class="" type="radio" name="userType"
			ng-model="formData.registrationInfo.userType" value="builder" />&nbsp;Buider 
	</div>

	<div class="form-group has-feedback">
		<input class="form-control input-lg" type="text" name="userName"
			ng-model="formData.registrationInfo.userName" placeholder="Name"/>
	</div>

	<div class="form-group has-feedback">
		<input unique-email class="form-control input-lg" type="email"
			name="emailId" ng-model="formData.registrationInfo.emailId" placeholder="Email"
			 autofocus /> 
	</div>

	<div class="form-group has-feedback">
		<input password-strength class="form-control input-lg" type="password"
			name="password" ng-model="formData.registrationInfo.password" placeholder="Password"/>
	</div>

	<div class="form-group has-feedback" 
		ng-controller="CountryCntrl">
		<select class="form-control input-lg" placeholder="city"
			ng-model="formData.registrationInfo.cityId"
			ng-options="city.cityName group by city.stateName for city in locations" 
			name="city">
			<option value=''></option>
		</select> 
	</div>

	<div class="form-group has-feedback">
		<input class="form-control input-lg" type="text" name="mobileNumber"
			ng-model="formData.registrationInfo.mobileNumber" placeholder="Mobile No" maxlength="10"/>
	</div>
	<div class="form-group has-feedback">
            <input class="form-control input-lg" type="text" name="landlineNumber" 
            ng-model="formData.registrationInfo.landlineNumber" placeholder="Landline No" maxlength="10">
     </div>