<script src="js/validation/validation_rules.js"></script> 
<!-- Mandate Property Info starts -->		
		<div id="form-container">  
			<div class="cBoxOut" ng-controller="CountryCntrl">
					<h2>Post Requirement</h2>
					<div class="cBox registrForm">
						<ul>
	        				<li class="all">* denotes mandatory fields</li>
	        				<li>
	          					<label>I want to <em>*</em> : </label>
	          					<input type="radio" ng-model="formData.requirementInfo.purchaseType" value="1" name="purchaseType" required="true">Sale 
	           					<input type="radio" ng-model="formData.requirementInfo.purchaseType" value="2" name="purchaseType">Rent Out
	        				</li>
	        				<li style="margin-left: 225px"></li>
	        				<li>
	          					<label>Property Type <em>*</em> :</label>
								<div style="float:left;">
						        	<div
										multi-select 
					    				input-model="propertyTypes"
					    				button-label="label"         
					    				item-label="label" 
					    				tick-property="ticked" 
					    				helper-elements="filter reset"
					    				max-labels="1"
					    				max-Height = "200px;"
					    				default-label="--Select--"
					    				on-item-click="itemSelect( data )"
					    				output-model="formData.requirementInfo.propertyTypes">
									</div> 
								</div>
	        				</li>
	        				<br/><br/><br/>
	        				<li style="margin-left: 225px"></li>
	        				<li>
	          					<h5>Property Location </h5>
					        </li>  
	        				<li>
	        					<label>City <em>*</em>:</label>
								<city-ctrl city-model-name="formData.requirementInfo.city"
									locations="locations"></city-ctrl>
							</li>
							<li style="margin-left: 225px"></li>
							<li>
								<label>Location <em>*</em>:</label>
								<!-- <select id="localities" placeholder="Locality"
									ng-model="formData.propertyFeatureInfo.propertyMandateInfo.locality"
									ng-options="locality.localityId as locality.localityName group by locality.cityName for locality in formData.propertyFeatureInfo.propertyMandateInfo.city.localities">
									<option value=''>Select</option>
								</select> -->
								<div style="float:left;">
									<div 
	    								multi-select 
	    								input-model="formData.requirementInfo.city.localities"
	    								button-label="label"         
	    								item-label="label" 
	    								tick-property="ticked" 
	    								helper-elements="filter reset"
	    								max-labels="1"
	    								max-Height = "200px;"
	    								default-label="Select"
	    								output-model="formData.requirementInfo.locations">
	    							</div>
    							</div>
	        				</li>
	        				<br/><br/><br/>
	        				<li style="margin-left: 225px"></li>
	        				<li>
	    						<h5>Property Area Info </h5>
	   						</li>
	   						<li ng-controller="AreaUnits">
	    						<label>Covered Area <em>*</em> : </label>
	    						<input id="minCoveredArea" type="text" ng-model="formData.requirementInfo.minCoveredArea" name="minCoveredArea" required="true" number="true">
	    						To
	    						<input id="maxCoveredArea" type="text" ng-model="formData.requirementInfo.maxCoveredArea" name="maxCoveredArea" required="true" number="true">
			    				<select id="selectCoveredArea" ng-model="formData.requirementInfo.coveredAreaUnit"
			    					ng-options="areaUnit.value for areaUnit in areaUnits track by areaUnit.value" name="coveredAreaUnit" required="true">
			    					<option value=''></option>
								</select>
	   						</li>
	   						<li style="margin-left: 225px"></li><br/><br/><br/>
	   						<li>
	    						<h5>Property Price</h5>
	    					</li>
	    					<li>
	    						<label>Expected Price <em>*</em> : </label>
		     					<rent-budget-ctrl rent-model-name="formData.requirementInfo.minBudget" rent-budgets="rentBudgets"></rent-budget-ctrl>
		     					To
		     					<rent-budget-ctrl rent-model-name="formData.requirementInfo.maxBudget" rent-budgets="rentBudgets"></rent-budget-ctrl>          
	   						</li>
	   						<li style="margin-left: 225px"></li>
	   						<li>
			   					<label>Best deal from Agent/Builder<em style="color:Red">*</em> :</label>
			    				<input type="radio" ng-model="formData.requirementInfo.dealingType" value="true" name="dealingType" required="true">Yes 
	           					<input type="radio" ng-model="formData.requirementInfo.dealingType" value="false" name="dealingType">No
			 				</li>
			 				<li style="margin-left: 225px"></li>
			 				<br/>
			 				<li ng-controller="BedBathNoList">
								<label>No. of Bedrooms<em>*</em> :</label>
								<bedroom-no-ctrl bed-model-name="formData.requirementInfo.minBedrooms" room-nos="roomNos"></bedroom-no-ctrl>
								To
								<bedroom-no-ctrl bed-model-name="formData.requirementInfo.maxBedrooms" room-nos="roomNos"></bedroom-no-ctrl>
								<!-- <div style="float:left;">
									<div 
	    								multi-select 
	    								input-model="roomNos"
	    								button-label="label"         
	    								item-label="label" 
	    								tick-property="ticked" 
	    								helper-elements="filter reset"
	    								max-labels="1"
	    								max-Height = "200px;"
	    								default-label="--Select--"
	    								output-model="formData.dealingType.bedrooms">
	    							</div>
    							</div> -->
							</li>
							<br/><br/><br/>
							<li style="margin-left: 225px"></li>
						</ul>
					</div>
 		</div>
 </div>
<!-- Mandate Property Info Ends-->

<div class="col-xs-6 col-xs-offset-3">
<!-- ui-sref="requirement.postRequirement"  -->
    <button class="btn btn-block btn-info" id="postRequirement_button">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </button>
</div>