	<head>
<title>RealOne | Search Results</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript">
	$(document).ready(function() {
		$('#searchdiv').hide();
		$('a').click(function() {
			$('#searchdiv').fadeIn('slow');
		});
		$('a#close').click(function() {
			$('#searchdiv').fadeOut('slow');
		})
	});
</script>
</head>
<body>
	<section id="content">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<ng-include src="'pages/filters.html'"> </ng-include>
				</div>
				<div class="col-lg-6">
					<div>
						<h1>{{properties.length}} results Found</h1>
						<div id="fixed" class="searchlisting"
							 when-scrolled="loadMore()">
							<ul class="listing">
								<li ng-repeat="property in displaySearchProps">
									<div class="listinfo">
										<img ng-src="{{property.propertyImagePath}}" alt=""
											class="listingimage" />
										<h3>{{property.propertyTitle}}</h3>
										<p>Project : {{ property.projectName }}</p>
										<span class="price">{{property.rateSqft}}</span> <span
											class="media"> <img src="images/icon_img.jpg" alt=""
											width="19" height="15" /> 12 Images <img
											src="images/videos_icon.jpg" alt="" width="21" height="18" /></span>
										1 Video
									</div>
									<div class="listingbtns">
										<span class="listbuttons"> <a ui-sref="viewDetails">View
												Details</a></span> <span class="listbuttons"> <a href="#">Add
												To Favorites</a></span> <span class="listbuttons"> 
												<div>
												<a class="anchorCursor" id="chat" ng-click="openChatWindow()" >Contact
												Seller</a>
												</div>
												</span>
									</div>
									<div class="clear">&nbsp;</div>
								</li>
							</ul>
						</div>

						<!-- <div id="pagination">
					<span class="all">Page 1 of 3</span>
					<span class="current">1</span>
					<a href="#" class="inactive">2</a>
					<a href="#" class="inactive">3</a>
				</div> -->
					</div>
				</div>
				<div class="col-lg-3">
					<aside class="right-sidebar">
						<div class="block smsalert">
							<p>
								Create a SMS Alert Filter and we will send you SMS alerts
								whenever a new lsting match your criteria. What are you waiting
								for ? It is <strong>absolutely FREE</strong>! Start saving time
								now!
							</p>
							<p>
								<a href="#"><img src="images/smsbutton.gif" alt="" /></a>
							</p>
						</div>

						<div class="widget">
							<h5 class="widgetheading">Quick Links</h5>
							<ul class="cat">
								<li class="icon-angle-right"><a href="#">Pro Agent
										Account</a></li>
								<li class="icon-angle-right"><a href="#">Find Agents</a></li>
								<li class="icon-angle-right"><a href="#">Banking &amp;
										Finance Help</a></li>
								<li class="icon-angle-right"><a href="#">Help &amp;
										Support</a></li>
								<li class="icon-angle-right"><a href="#">SMS Alerts</a></li>
								<li class="icon-angle-right"><a href="#">Email Alerts</a></li>
								<li class="icon-angle-right"><a href="#">Advertising in
										RealOne</a></li>
								<li class="icon-angle-right"><a href="#">Privacy Policy</a></li>
							</ul>
							<div class="clear">&nbsp;</div>
						</div>

						<div class="widget" ng-controller="latestSearchCntrl">
							<h2 class="sidebar_head">
								<span class="h2link"><a href="#">View More</a></span> Hot
								Properties
							</h2>
							<ul class="propertys">
								<li ng-repeat="property in latestProperties"
									class="property-listing"><span> <img
										ng-src="{{property.propertyThumbImagePath}}" alt="" width="66"
										height="66" />
								</span>
									<h3>
										<a href="#">{{property.propertyTitle}}</a>
									</h3>
									<p class="description">
										{{property.propertyDescription}} <span class="price">{{property.propertyPrice}}</span>
									</p>
									<div class="clear">&nbsp;</div></li>
							</ul>
						</div>

						<div id="widget">
							<div class="block advert">
								<img src="images/advertisehere.jpg" alt="" />
							</div>

							<div class="block">
								<img src="images/dreamcar.jpg" alt="" />
							</div>
							<div class="block">
								<img src="images/dreamcar.jpg" alt="" />
							</div>
							<div class="block">
								<img src="images/dreamcar.jpg" alt="" />
							</div>
						</div>
					</aside>
				</div>
			</div>
		</div>

	</section>