.left_box{
width:257px;
height:auto;
float:left;
padding-bottom:10px;
}

.top_left_box{
width:257px;
height:10px;
float:left;
background:url(img/top_box_bg.gif) no-repeat center;
}
.center_left_box{
width:257px;
height: auto;
float:left;
background:url(img/center_box_bg.gif) repeat-y;
}
.bottom_left_box{
width:257px;
height:10px;
float:left;
background:url(img/bottom_box_bg.gif) no-repeat center;
}