	label.error {
		background:url("../images/validation/unchecked.gif") no-repeat 0px 0px;
		padding-left: 16px;
		font-style: italic;
		color: red;
	}
	label.success {
		background:url("../images/validation/checked.gif") no-repeat 0px 0px;
		padding-left: 16px;
	}
	label.error {
		display: none;
	}
	